@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"), url("fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf"),
    format("truetype");
}

:root {
  --color-primary: #f4515e;
  --color-background: #17191b;
  --color-surface: #e6e8eb;
  --color-muted: #7a7c81;
  --color-border: #3c3e42;
  --color-danger: #7c393d;
  --color-danger-light: #e06e7a;
}
