NODE_ENV=development

ACCESS_TOKEN_SECRET="put your secret here"
REFRESH_TOKEN_SECRET="put your secret here"

DATABASE_URL=postgresql://username:password@localhost:5432

ADMIN_PASSWORD="insert admin password here"
