@import "tailwindcss";
@source "../../../packages/blog-shared-components";

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"), url("fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf"),
    format("truetype");
}

:root {
  --color-background: #17191a;
  --color-darkish: #202223;
  --color-surface: #e6e8eb;
  --color-border: #3c3e42;
  --color-muted: #7a7c81;
  --color-stone-cold: #555759;
  --color-primary: #f4515e;
  --color-primary-glow: #ff6b7c;
  --color-black-pearl: #22262b;
  --color-carbon: #333435;
}

* {
  font-family: "Roboto";
}
body {
  background-color: var(--color-background);
}
